<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <mat-form-field>
                <input matInput placeholder="First Name" formControlName="firstName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="lastName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="User Name" formControlName="userName" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone" formControlName="phone" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="E-mail" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirm Password" formControlName="confirmPassword" required>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperNext
                    color="primary" [disabled]="firstFormGroup.invalid">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="address" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City" formControlName="city" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Select country</mat-label>
                <mat-select formControlName="country">
                    <mat-option *ngFor="let country of countries" [value]="country.value">
                        {{country.viewValue}}
                      </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious color="accent">Back</button>
                <button mat-raised-button matStepperNext (click)="getDataUser()"
                    color="primary" [disabled]="secondFormGroup.invalid">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>All Data</ng-template>
        <mat-list >
            <mat-list-item>Name: {{dataAboutUser.firstName}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Surname: {{dataAboutUser.lastName}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Username: {{dataAboutUser.userName}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Email: {{dataAboutUser.email}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Phone: {{dataAboutUser.phone}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Address type: {{dataAboutUser.address}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>City type: {{dataAboutUser.city}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>City type: {{dataAboutUser.country}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <div>
            <button mat-raised-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button (click)="stepper.reset()" color="accent">Cancel</button>
            <button mat-raised-button color="primary" (click)="saveCreateUser()">Save</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>