mat-form-field {    
    width: 60%;
}
.create-user-from button {
    display: block;
}

.create-user-from {
    display: flex;
    align-items: center;
    justify-content: center 
}


.mat-step-header {
    display: none;
    border: 1px solid green;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}