<section class="wrapper-form">
    <form [formGroup]='loginData'>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <div *ngIf="error">{{error}}</div>
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Enter your email" formControlName="email" name="email" required>
                    <mat-error
                        *ngIf="loginData.controls['email'].invalid && (loginData.controls['email'].dirty || loginData.controls['email'].touched)">
                        <mat-error *ngIf="loginData.controls['email'].errors.pattern">
                            Email is invalid!
                        </mat-error>
                        <mat-error *ngIf="loginData.controls['email'].errors.required">
                            Email is reqired!
                        </mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Enter your password" formControlName="password" required>
                    <mat-error
                        *ngIf="loginData.controls['password'].invalid && (loginData.controls['password'].dirty || loginData.controls['password'].touched)">
                        <mat-error *ngIf="loginData.controls['password'].errors.pattern">
                            password is invalid!
                        </mat-error>
                        <mat-error *ngIf="loginData.controls['password'].errors.required">
                            password is reqired!
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color='primary' (click)='loginUser()' [disabled]="loginData.invalid">Login</button>
                <a [routerLink]="['/auth/register']">You dont register?</a>
            </mat-card-actions>
        </mat-card>
    </form>
</section>