<div class="user-form">
        <form class="info-user-form">
            <div class="first-row">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="First Name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Last Name">
                </mat-form-field>
            </div>
            <div class="second-row">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="User Name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="E-mail">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone">
                </mat-form-field>
            </div>
        </form>
    </div>