<form action="" [formGroup]="popupGroup" (ngSubmit)='onSubmit(popupGroup)'>
  <h1 mat-dialog-title>{{title + ' ' + user.firstName + ' ' + user.lastName + ' ?'}}</h1>
  <mat-dialog-content *ngIf='user'>
    <ng-container *ngIf="action !== 'deleteUser'; else sureDelete">
      <div class="popupInput">
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Last Name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="userName" placeholder="User Name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="phone" placeholder="Phone" required>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-template #sureDelete>
      Are you sure to delete?
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end mb-1 pt-4">
    <button mat-raised-button type="submit" color="primary">{{typeButton}}</button>
    <button mat-stroked-button color="primary" type="button" (click)="onNoClick()">
      Cancel
    </button>
  </mat-dialog-actions>
</form>